<!--Rodapé-->
<footer class="footer">  
<div class="lin-inf">
    <hr size="8" color="orangered">
</div>
<!--INSTITUCIONAL-->
<div class="inst">
    <p>Institucional</p>
            <hr size="1" color="orangered">
    <ul>
        <li class="text-item empresa">
            <a href="/empresa">Empresa</a>
        </li>
        <li class="text-item comocomp">
            <a href="/como_comprar">Como comprar</a>
        </li>
        <li class="text-item segurança">
            <a href="/seguranca">Segurança</a>
        </li>
        <li class="text-item envio">
            <a href="/envio">Envio</a>
        </li>
        <li class="text-item pagam">
            <a href="/pagamento">Pagamento</a>
        </li>
        <li class="text-item troca">
            <a href="/politica_de_troca">Política de troca</a>
        </li>
        <li class="text-item contato">
            <a href="/contato">Contato</a>
        </li>
    </ul>
</div>

<!--ATENDIMENTO-->
<div class="aten">

    <div class="aten-titulo">
        <p>Atendimento</p>
    </div>

        <hr size="1" color="orangered">

    <ul>
        <!--Número de telefone-->
        <li class="aten-item tel">
            <div class= "imagem img-1">
                <img src="./IMG/telefone.png" width="28px" height="28px">
            </div>
                <p>(41) 0000-0000</p>
        </li>
        
        <!--Email da loja-->
        <li class="aten-item email">
            <div class= "imagem img-2">
                <img src="./IMG/email.png" width="25px" height="25px">
            </div>
                <a href="">turntks@gmail.com</a>
        </li>

        <!--Horário de atendimento-->
        <li class="aten-item hor-aten">
            <div class= "imagem img-3">
                <img src="./IMG/horario.png" width="25px" height="25px">
            </div>
                <p> Segunda a sexta das 9h30 
                    ás 18h e aos Sábados das 
                    9h30 ás 17h.</p>
        </li>

        <!--Whatsapp da loja-->
        <li class="aten-item whats">
            <div class= "imagem img-4">
                <img src="./IMG/whatsapp.png">
            </div>
                <a href="https://api.whatsapp.com/send?phone=5541995298257">(41) 00000-0000</a>
        </li>
    </ul>
</div>
    <!--Segurança da loja-->
    <div class="seg">
        <p>Segurança</p>
        <hr size="1" color="orangered">
        <img src="./IMG/segu.gif" href="#" width="100px">
    </div>

        <!--Formas de Pagamento-->
    <div class="fpagm">
        <p>Forma de Pagamento</p>
        <hr size="1" color="orangered">
        <img src="./IMG/boleto.png" width="50px">
    </div>

        <!--Redes Sociais-->
    <div class="redes">
        <p>Redes Sociais</p>
        <hr size="1" color="orangered">
        <a href="#"> <img src="./IMG/facebook.png" width="30px"></a>
        <a href="#"> <img src="./IMG/instagram.webp" width="30px"></a>
    </div> 
</footer>    