<link rel="stylesheet" type="text/css" href="/css/style.css">

        <!--cabeçalho-->
<header class="header">
            <div class="header-container">
                <div class="logo">
                    <a href="/">
                        <img src="../IMG/logolaranja.png" width="120px" >
                    </a>
                </div>
    
                <!--barra de pesquisa--> 
                <div class="search">
                    <input type="text" placeholder="O que você procura?">
                    <div class="lupa">
                        <img src="../IMG/LUPATURN.png"  alt="Buscar" width="35px" height="35px">
                    </div>
                </div>
                    
                    <!--Entrar ou cadastrar-->
                <div class="ent-cad">
                    <p>Seja bem-vindo!</p>
                    <a href="/login">Entre</a>
                            ou 
                    <a href="/cadastro/PF">Cadastre-se</a>
                </div>
                <div class="car-comp">
                    <a href=""><img src="../IMG/carrinhoo.png" class="button" width="40px" height="40px"></a>
                </div>
            </div>
</header>

        <!--cabeçalho secundário--> 
<header class="header-2">
            
            <!--Masc, Fem e Promo-->
            <div class="categories">
                <ul>
                    <li class="menu-item masc">
                        <a href="">Masculino</a>
                    </li>
                    <li class="menu-item fem">
                        <a href="">Feminino</a>
                    </li>
                    <li class="menu-item prom">
                        <a href="">Promoções</a>
                    </li>
                </ul>
            </div>
</header>