<meta charset="utf-8">
<title> Política de Troca </title>
<link rel="stylesheet" type="text/css" href="../CSS/polistyle.css">
<link rel="icon" type="image/jpg" href="../IMG/logolaranja.png" />
<meta name="viewport" content="width=device-width, initial-scale=1"> 

<!--CONTEÚDO PRINCIPAL-->
<main>
    <hr class="hr-emp"size="2" color="orangered">
    <div class="poli-inf">
        <p> 
            <b>Solicitação de Troca e Devolução</b><br>
            Com a nova plataforma de troca, solicitar a troca ou 
            devolução do seu produto está mais simples e rápido.

        </p>
        <p> 
            Acesse o <a href="">Troque Fácil</a> e preencha as informações solicitadas.
            Para facilitar este preenchimento tenha em mãos o número 
            do seu pedido e o cpf utilizado na compra.
        </p>
        <p>
            <b>Lembramos que:</b>
            A mercadoria não poderá apresentar qualquer indício de uso (exceto defeito).
            A Loja não trabalha com troca por produto físico, somente com vale compra.

        </p>
        <p>
            <br>
            <b>Troca por modelo, cor e/ou numeração</b><br>
            Caso o produto não sirva, ou o modelo/cor não agrade, o prazo para troca 
            é de 30 dias contados a partir do recebimento da encomenda.
        </p>
        <p>
            Acesse o <a href="">Troque Fácil</a> e insira o número do seu pedido e o cpf utilizado na compra, 
            selecione o modelo que deseja realizar a troca, 
            lembramos que o motivo desta troca deve ser selecionado 
            como <b>“Troca por modelo/cor/numeração”.</b>
        </p>
        <p>
            Você receberá um código de autorização de postagem dos Correios por e-mail, 
            que lhe dará direito a enviar o produto sem custos de frete na primeira troca. 
            Esse código tem a validade de 10 dias para uso. 
            Se houver a necessidade de fazer mais de uma troca,
            informamos que todos os custos de envio serão por sua conta.
        </p>
        <p>
            Após o envio do produto, basta acompanhar o rastreamento que será 
            disponibilizado no momento da postagem.
            Assim que acusar o recebimento em nossa central, 
            o procedimento será concluído em até 3 (três) dias úteis.
            Você receberá um e-mail com um vale compra no valor pago pelo produto
        </p>
        <p>
            <br>
            <b>Troca por Defeito</b><br>
            Caso receba o produto com defeito de fábrica ou ele apresente defeito após o uso, 
            você poderá solicitar a troca na Loja Overcome em até 30 dias
            após a data de recebimento do seu pedido.
        </p>
        <p>
            Acesse o <a href="">Troque Fácil</a> e insira o número do seu pedido e o cpf utilizado na compra,
            selecione o modelo que deseja realizar a troca. Selecione a opção de trocar > motivo <b>“Defeito”.</b>
            No campo “Como podemos resolver?” pedimos que informe qual seria o defeito que apresentou em seu produto. 
            Siga preenchendo a solicitação conforme indicado pelo sistema.
        </p>
        <p>
            Você receberá um código de autorização de postagem dos Correios por e-mail, 
            que lhe dará direito a enviar o produto sem custos de frete. Esse código tem a validade de 10 dias para uso.
        </p>
        <p>
            Após o recebimento do produto em nossa central, o procedimento será concluído 
            em até 3 (três) dias úteis e você receberá no seu e-mail um vale compras no valor pago pelo produto mais frete, 
            para finalizar uma nova compra no site.
        </p>
        <p>
            <b>Atenção:</b> Não realizamos o reembolso de despesas de envio de produto por conta própria, ou seja,
            sem a utilização do código postal enviado por e-mail. Portanto sugerimos que após o preenchimento 
            do formulário, aguarde o recebimento do código de postagem com as orientações correspondentes.
        </p>
        <p>
            <br>
            <b>O que é considerado um defeito?</b><br>
            <br>
            <b>Defeito Aceitável:</b><br>
            Tonalidade Diferente<br>
            Sujeira de Cola<br>
            Estampa Ou Flocado (Borrada/Falhada/Descascando)<br>
            Descolado/Rasgado/Amassado/Descascado/Estourando/Furado<br>
            Numeração Errada/Trocada<br>
            Rebarba<br>
            Cortes
        </p>
        <p>
            <b>Defeito Não Aceitável:</b><br>
            Manchas de Jeans/Manchas de Tinta<br>
            Riscos de Caneta<br>
            Arranhões<br>
            Outros<br>
            <br>
            Caso o produto apresente características mencionadas na lista de defeitos "Não aceitável”, 
            o mesmo será devolvido sem a conclusão do procedimento.
        </p>
        <p>
            <br>
            <b>Cancelamento com Reembolso</b><br>
            <br>
            Em caso de arrependimento de compra, você poderá solicitar a devolução do pedido e seu 
            cancelamento com reembolso, dentro do prazo de até 7 (sete) dias após a data de recebimento do pedido.<br>
            <br>
            Acesse o <a href="">Troque Fácil</a> e insira o número do seu pedido e o cpf utilizado na compra, 
            selecione o motivo para a troca como "Devolver". Siga preenchendo a solicitação conforme indicado pelo sistema.<br>
            <br>
            Você receberá um código de autorização de postagem dos Correios por e-mail, que lhe dará direito a enviar
            o produto sem custos de frete, juntamente com as instruções para envio. Esse código tem a validade de 10 dias para uso
            Após o recebimento do produto em nossa central, o procedimento será concluído em até 3 (três) dias úteis, 
            e forneceremos todas as instruções para a conclusão de sua solicitação via e-mail.<br>
            <br>
            Importante: A devolução do valor pago será realizada conforme a modalidade de pagamento utilizada no fechamento do pedido. 
            E o frete pago no momento da finalização de sua compra também será devolvido.
        </p>
        <p>
            <br>
            <b>Entrega Divergente</b><br>
            <br>
            Caso receba um produto que não condiz com o solicitado em seu pedido (número, modelo ou cor diferente do requerido), 
            deverá nos informar sobre o ocorrido.<br>
            <br>
            Para isso, acesse o Troque Fácil e insira o número do seu e o cpf utilizado na compra, 
            selecione o modelo que deseja realizar a troca (ou que era para ter sido entregue). 
            Selecione a opção de trocar > motivo “Entrega Divergente”.
            No campo “Como podemos resolver?” pedimos que nos relate o que foi enviado incorretamente a você. 
            Siga preenchendo a solicitação conforme indicado pelo sistema.<br>
            <br>
            Você receberá um código de autorização de postagem dos Correios por e-mail, que lhe dará direito 
            a enviar o produto sem custos de frete, juntamente com as instruções para envio. Esse código tem a validade 
            de 10 dias para uso.<br>
            <br>
            Após o recebimento do produto em nossa central, o procedimento será concluído em até 3 (três) 
            dias úteis e você receberá no seu e-mail um vale compras no valor pago pelo produto mais frete, para finalizar 
            uma nova compra no site, ou se preferir, realizaremos o reembolso do valor pago.
        </p>
    </div>
</main>