<meta charset="utf-8">
<title> Segurança </title>
<link rel="stylesheet" type="text/css" href="../CSS/segstyle.css">
<link rel="icon" type="image/jpg" href="../IMG/logolaranja.png" />
<meta name="viewport" content="width=device-width, initial-scale=1"> 

<!--CONTEÚDO PRINCIPAL-->
<main>
    <hr class="hr-emp"size="2" color="orangered">
    <div class="seg-inf">
        <p> 
            <b>Privacidade e Segurança</b><br>
            <br>
            Seus dados pessoais de endereçamento, pagamento e conteúdo de pedido não serão divulgados em hipótese alguma. 
            Fique seguro de que eles não serão utilizados para outros fins que não o de processamento dos pedidos realizados. 
            Em relação à segurança no tráfego de dados, toda transação que envolver pagamento, seja por cartão de crédito ou não, 
            estará encriptada com a tecnologia SSL (Secure Socket Layer).<br>
            <br>
            Isso significa que só a loja tem acesso a estes dados. Quando você preenche os dados e nos envia, 
            eles são criptografados, o que faz com que durante o trajeto pela Internet fiquem irreconhecíveis, 
            assegurando a confidencialidade.<br>
            <br>
            Todas as compras terão notificações via sms, o andamento de todo o trajeto do pedido será informado 
            ao cliente via mensagem. Ao comprar o cliente aceita esse forma de aviso.
        </p>
        <p> 
            <br>
            <b>Atualizando Informações da Conta</b><br>
            <br>
            Para efetuar alterações em seu cadastro, ou modificar a sua senha, efetue o login clicando em "ENTRAR" 
            no cabeçalho do site, caso ja esteja logado, acesse o painel do cliente clicando em "MINHA CONTA", também 
            no cabeçalho do site.
        </p>
    </div>
</main>