<title> Como Comprar </title>

        <!--CONTEÚDO PRINCIPAL-->
<main>
            <hr class="hr-emp"size="2" color="orangered">
            <div class="comp-inf">
                <p> 
                    Para efetuar compras em nossa loja-virtual você tem que realizar um cadastro em nosso sistema. 
                    Selecione a opção "CADASTRE-SE". 
                    Na próxima tela, informe os seus dados e clique em "Enviar". 
                    Caso já tenha cadastro no site é necessário apenas efetuar o login informando seu e-mail e senha. 
                    Inclua os produtos clicando no botão "COMPRAR".
                </p>
                <p> 
                    Quando você decidir finalizar o pedido, informe o CEP do endereço de entrega e clique em "CALCULAR FRETE", 
                    selecione a forma de entrega e clique no botão "FINALIZAR PEDIDO". 
                    Confira os itens do carrinho e preencha os dados para entrega, 
                    selecione a forma de pagamento e clique no botão "FINALIZAR PEDIDO". 
                    Após a finalização você receberá um e-mail de confirmação da sua compra,
                     e em poucos dias estará recebendo a encomenda no endereço que você indicou. 
                    Você pode acompanhar o status de seu pedido fazendo o login e acessando a área "MINHA CONTA".
                </p>
                <p>
                    Art. 49. O consumidor pode desistir do contrato, no prazo de 7 dias a contar de sua assinatura ou
                     do ato de recebimento do produto ou serviço, sempre que a contratação de fornecimento de produtos 
                     e serviços ocorrer fora do estabelecimento comercial, especialmente por telefone ou a domicílio.
                </p>
            </div>
</main>

    <!--LINHA INFERIOR-->
<div class="lin-inf">
    <hr size="8" color="orangered">
</div>