<title> Contato </title>
<link rel="stylesheet" type="text/css" href="contstyle.css">
<link rel="icon" type="image/jpg" href="logolaranja.png" />
<meta name="viewport" content="width=device-width, initial-scale=1"> 

<!--CONTEÚDO PRINCIPAL-->
<main>
    <hr class="hr-emp"size="2" color="orangered">
    <div class="cont-inf">
        <p> 
            <b>Entre em contato conosco</b><br>
            Abaixo listamos as formas de contato disponíveis em nossa loja.
            Estamos ansiosos em lhe atender da melhor maneira possível.<br>
            <br>
            <b>Central de Atendimento ao Cliente</b><br>
            (11) 2305-4903<br>
            <br>
            <b>E-mail</b><br>
            Entre em contato conosco através do e-mail <a href="">turntks@gmail.com</a>
        </p>
    </div>
</main>
