<meta charset="utf-8">
<title> Empresa </title>
<link rel="stylesheet" type="text/css" href="../CSS/empstyle.css">
<link rel="icon" type="image/jpg" href="../IMG/logolaranja.png" />
<meta name="viewport" content="width=device-width, initial-scale=1"> 

<!--CONTEÚDO PRINCIPAL-->
<main>
    <hr class="hr-emp"size="2" color="orangered">
    <div class="empresa-inf">
        <p> 
            A Turn the Street King teve início em novembro de 2019, 
            é um site fictício criado para Trabalho de Conclusão de Curso (TCC).
        </p>
        <p> 
            E tem como ideia trazer produtos exclusivos para os clientes. 
            Focada no estilo street wear e old school rap, as nossas estampas são 
            autênticas e criadas por um de nossos integrantes.
        </p>
    </div>
</main>