<meta charset="utf-8">
<title> Envio </title>
<link rel="stylesheet" type="text/css" href="../CSS/envstyle.css">
<link rel="icon" type="image/jpg" href="../IMG/logolaranja.png" />
<meta name="viewport" content="width=device-width, initial-scale=1"> 

<!--CONTEÚDO PRINCIPAL-->
<main>
    <hr class="hr-emp"size="2" color="orangered">
    <div class="env-inf">
        <p> 
            <b>Correios:</b> Temos um prazo de até 3 dias úteis da confirmação do pagamento 
            para efetuar o despacho do pedido. O prazo para a entrega varia de acordo 
            com a forma de envio escolhida e não é de nossa responsabilidade, já que a entrega 
            fica a cargo dos Correios.
        </p>
        <p>
            Alguns itens em promoção podem ter um prazo maior para postagem, consulte a 
            descrição de cada item.
        </p>
        <p>
            Você será informado do código para rastrear sua encomenda através do site 
            dos correios assim que ela for postada.
        </p>
    </div>
</main>