<meta charset="utf-8">
<title> Identificação - Turn the Street King </title>
<link rel="stylesheet" type="text/css" href="/css/login.css">
<link rel="icon" type="image/jpg" href="./IMG/logolaranja.png" />
<meta name="viewport" content="width=device-width, initial-scale=1"> 

<!--CONTEÚDO PRINCIPAL-->
<main>    
    <!--titulo-->
    <div class="lin">
        <hr size="2" color="orangered">
    </div>
    <div class="titulo-turn">
        <h3>Já sou cliente Turn!</h3>
    </div>  

    <!--Login-->
    <div class="login">

            <!--Titulos-->
        <div class="titulo-log">
            <h1>login</h1>
        </div>
        <div class="linha">
            <hr size="2" color="orangered">
        </div>
        
            <!--Dados de login-->
        <form>
            <p>E-mail ou CPF:</p>
                <input type="text" name="email-CPF" placeholder="Digite seu e-mail ou CPF" required>
            <p>Senha:</p>
                <input type="password" name="password" placeholder="Digite sua senha" maxlength="8" required> <br>
                    <a href="#">Esqueceu sua senha?</a>
                    <a href="file:///C:/Users/Akluuk/Desktop/Projeto%20Turn/Pag.%20Cad.%20F/index.html">Quero me cadastrar!</a> <br>
                <input type="submit" name="submit" value="entrar">
        </form>
    </div>
</main> 
