<meta charset="utf-8">
<title> Pagamento </title>
<link rel="stylesheet" type="text/css" href="../CSS/pagstyle.css">
<link rel="icon" type="image/jpg" href="../IMG/logolaranja.png" />
<meta name="viewport" content="width=device-width, initial-scale=1"> 

<!--CONTEÚDO PRINCIPAL-->
<main>
    <hr class="hr-emp"size="2" color="orangered">
    <div class="pag-inf">
        <p> 
            Trabalhamos somente com boletos.
        </p>
        <p> 
            Assim que finalizar sua compra, você deverá escolher 
            boleto como forma de pagamento. 
            Demais instruções serão passadas após selecionar.
        </p>
    </div>
</main>